streamlit
langchain
langchain-community
langchain-openai
langchain-huggingface
langchain-chroma
transformers
sentence-transformers
chromadb
python-dotenv
huggingface_hub
torch==2.2.0+cpu --extra-index-url https://download.pytorch.org/whl/cpu
